<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Load Static Files -->
    {% load static %}

    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}">

	<link rel="stylesheet" type="text/css" href="{% static "/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/animate.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/font-awesome.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/ionicons.min.css" %}">
	<link href='https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="{% static "/js/jquery-2.1.0.min.js" %}"></script>
	<script src="{% static "/js/bootstrap.js" %}"></script>
	<script src="{% static "/js/blocs.min.js" %}"></script>
	<script src="{% static "/js/lazysizes.min.js" %}" defer></script>
    <script src="{% static "/js/recorder/dist/recorder.js" %}"></script>

    <!-- Django Scrpit Audio recorder -->
    <script src="{% static "/js/DjangoRecorder.js" %}"></script>

    <style type='text/css'>
        ul { list-style: none; }
        #recordingslist audio { display: block; margin-bottom: 10px; }
    </style>

    <title>{% block pageTitle %}{% endblock %}</title>

    <!-- Google Analytics -->

<!-- Google Analytics END -->

</head>

<body>

<!-- Main container -->
<div class="page-container">

<!-- Block Navbar -->
{% block navbar %}

<div class="bloc bgc-mint-cream bg-77a855c9743d36a932fb5910cb37c5ef bg-t-edge l-bloc" id="bloc-0">
	<div class="container">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand animated vanishIn" href="{% url 'home' %}"><img src="{% static "img/rPiMedia_logo.png"%}" alt="logo" width="70" height="70" /></a>
<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1 nav-special sidebar-nav">
				<ul class="site-navigation nav navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url "login" %}" class="ltc-white animated pulse-hvr">
                                <span class="ion ion-log-in icon-md icon-mint-cream animated pulse-hvr"></span>
                                Iniciar Sesión
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}" class="ltc-white animated pulse-hvr">
                                <span class="fa fa-gears icon-md icon-white animated pulse-hvr"></span>
                                Administrar
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li>
                            <div class="dropdown btn-dropdown">
                                <a href="#" class="ltc-white dropdown-toggle animated pulse-hvr" id="pl-12040" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-user icon-md icon-white animated pulse-hvr"></span>
                                    {{ request.user.username }}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url "profile" %}" class="a-btn a-block animated pulse-hvr">Ver Perfil</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}" class="a-btn a-block animated pulse-hvr">Cerrar Sesión</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
				</ul>
			</div>
		</nav>
	</div>
</div>
<!-- bloc-0 END -->





</div>
<!-- Main container END -->

{% endblock %}

{% block recorder %}

{% endblock %}

{% block subnav %}

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    <!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

{% endblock %}
<script>
    $("document").ready(function(){
        $("#inputToggle").change(function(){
            if(this.checked){
                $("#status").text(this.getAttribute('data-on'))
            } else {
                $("#status").text(this.getAttribute('data-off'))
            }
        })
    });

    function __log(e, data) {
        log.innerHTML += "\n" + e + " " + (data || '');
    }

    var audio_context;
    var recorder;

    function startUserMedia(stream) {
        var input = audio_context.createMediaStreamSource(stream);
        __log('Media stream created.');

        // Uncomment if you want the audio to feedback directly
        //input.connect(audio_context.destination);
        //__log('Input connected to audio context destination.');

        recorder = new Recorder(input);
        __log('Recorder initialised.');
    }

    function startRecording(button) {
        recorder && recorder.record();
        button.disabled = true;
        button.nextElementSibling.disabled = false;
        __log('Recording...');
    }

    function stopRecording(button) {
        recorder && recorder.stop();
        button.disabled = true;
        button.previousElementSibling.disabled = false;
        __log('Stopped recording.');

        // create WAV download link using audio data blob
        {#createDownloadLink();#}

        recorder.clear();
    }

    // Required for Django CSRF
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Actual Upload function using xhr
    function upload(blob, progressBar){
        var csrftoken = getCookie('csrftoken');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'recorder/', true);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        {#xhr.setRequestHeader("MyCustomHeader", "Put anything you need in here, like an ID");#}

        xhr.upload.onloadend = function() {
            alert('Upload complete');
        };
        // If you want you can show the upload progress using a progress bar
        //var progressBar = document.querySelector('progress');
        {#xhr.upload.onprogress = function(e) {#}
        {#    if (e.lengthComputable) {#}
        {#        progressBar.value = (e.loaded / e.total) * 100;#}
        {#        progressBar.textContent = progressBar.value; // Fallback for unsupported browsers.#}
        {#    }#}

        xhr.send(blob);

        {#function createDownloadLink() {#}
        {#  recorder && recorder.exportWAV(function(blob) {#}
        {#    var url = URL.createObjectURL(blob);#}
        {#    var li = document.createElement('li');#}
        {#    var au = document.createElement('audio');#}
        {#    var hf = document.createElement('a');#}
        {##}
        {#    au.controls = true;#}
        {#    au.src = url;#}
        {#    hf.href = url;#}
        {#    hf.download = new Date().toISOString() + '.wav';#}
        {#    hf.innerHTML = hf.download;#}
        {#    li.appendChild(au);#}
        {#    li.appendChild(hf);#}
        {#    recordingslist.appendChild(li);#}
        {#  });#}
        {#}#}


            window.onload = function init() {
                try {
                    // webkit shim
                    window.AudioContext = window.AudioContext || window.webkitAudioContext;
                    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
                    window.URL = window.URL || window.webkitURL;

                    audio_context = new AudioContext;
                    __log('Audio context set up.');
                    __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
                } catch (e) {
                    alert('No web audio support in this browser!');
                }

                navigator.getUserMedia({audio: true}, startUserMedia, function (e) {
                    __log('No live audio input: ' + e);
                });
            };


</script>



</body>
</html>