{% extends 'base.html' %}
{% load static %}

{% block pageTitle %} PiVoz - Música{% endblock %}

{% block content %}
    <!-- bloc-5 -->
    <div class="bloc bgc-mint-cream bloc-fill-screen bg-pexels-photo l-bloc" id="bloc-5">
        <div class="container">
                <div class="col-sm-12">
                    <a href="{% url "radios" %}"><img src="{% static "img/radio_ico.png" %}" data-src="{% static "img/boombox-3.png" %}" class="img-circle img-rd center-block animated bounce-hvr lazyload" width="200" height="200" /></a>
                    <h2 class="mg-md  tc-cadmium-red text-center">
                        Radio FM
                    </h2>
                </div>
        </div>
    </div>
    <!-- bloc-5 END -->

{% endblock %}
